name: Upload Release

permissions:
  contents: write

on:
  release:
    types: [ "published" ]
    
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v6

    - name: Setup HEMTT
      uses: arma-actions/hemtt@v1

    - name: Build Mod Release
      run: hemtt release

    - name: Upload to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: releases/cpx-latest.zip
        asset_name: cpx-$tag.zip
        tag: ${{ github.ref }}
        overwrite: true
